@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #171717;
  --button-color-create: #2C2C2C;
  --text-color-title: #2C2C2C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-button-create: var(--button-color-create);
  --color-text-title: var(--text-color-title);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.button-create {
  background-color: var(--button-color-create);
  color: white;
}