DATABASE_URL_DEV=your_db_dev_url
DATABASE_URL_TEST=your_db_test_url
# Fallback database URL, used if DATABASE_URL_DEV or DATABASE_URL_TEST are not set
DATABASE_URL=your_db_dev_url

# Set MODE to 'dev' for development or 'test' for running tests
MODE=test
